.game-field {
    padding-top: 5vh;
}

.game-field__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.game-field__button-end {
    font-size: 16px;
    padding: 8px 20px;
}

.game-field__tile-grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    perspective: 1200;
    transform-style: preserve-3d;
}

.big-grid {
    grid-template-columns: repeat(8, auto);
}