.menu {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__title {
    font-size: 48px;
}

.settings {
    padding: 40px;
    border: 1px solid #9eb1cd;
    border-radius: 5px;
    margin-bottom: 60px;
}

.settings__title {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 24px 0;
}

.settings__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.settings__list label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid #5d5c5c;
    background-color: #cfb1fb70;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s linear;
}

.settings__list input[type=radio] {
	display: none;
}

.settings__list input[type=radio]:checked + label {
	background-color: #8a5ecc;
    color: #ffffff;
    box-shadow: 10px 5px 5px #7c7c7c50;
    transform: scale(1.1);
}

.menu__start-button {
    font-size: 24px;
    padding: 15px 30px;
}

